# Explicit TensorFlow version requested
tensorflow==2.21.0

# ========================================================
# 🛑 AMD GPU INSTALLATION (Linux / Fedora) 🛑
# ========================================
# For AMD GPUs on Linux, you should use the ROCm version.
# pip install tensorflow-rocm
# ========================================================

numpy
keras-tuner
